* {
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}

body {

    background: #E94B3CFF;
    justify-content: center;
    font-size: 14px;

}

.registration {
    border-radius: 40px;
    width: 500px;
    padding: 55px;
    margin: 50px auto 0;
    border-top: 5px solid #f5bala;
    align-content: center;
    align-items: center;
    background: #2D2926FF;

}

.registration h2 {
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 5px;
    padding-left: 30px;
    color: aliceblue;

}

.input-name {
    border-radius: 40px;
    width: 100%;
    position: relative;
    margin: 20px auto;
}

.lock {
    padding: 8px 11px;

}

.text-name {
     border-radius: 40px;
    width: 100%;
    padding: 8px 0 8px 40px;
}

.input-name i {
    position: absolute;
    font-size: 18px;
    border-right: 1px solid #cccccc;
}

.email {
    padding: 8px;
}

.username {
    padding: 8px;
}

.name {
    width: 100%;
    padding: 8px 0 8px 40px;
    outline: 90%;
    outline: none;
     border-radius: 40px;
}

.radio-button {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    margin-left: 8px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

}
.gender {
    margin-right: 16px;
}

.gender::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #fff;
    padding: 2.5px;
    background-color: transparent;
    background-clip: content-box;
    transition: all .2s ease;

}

.radio-button:hover + .gender::before {
    border-color: #1a1ae0;
}

.radio-button:checked + .gender::before {

    background: #000000;
    border-color: #000000;
}

.button {
    outline: none;
    background-color: #95DBE5FF;
    height: 35px;
    line-height: 35px;
    width: 50%;
    outline: none;
    border-radius: 40px;
    margin-left: 95px;

}

.button:hover {
    background: #2c2525;
    color: aliceblue;
}

.button:active {
    background: #f80101;
}



